<div class="left span-9">
  <h2>Edit <%%= resource_name.to_s.humanize %></h2>

  <%%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}) do |f| %>
      <%%= render 'shared/error_messages', :object => f.object %>

      <p><%%= f.label :username %></p>

      <p><%%= f.text_field :username, :class => "text" %></p>

      <p><%%= f.label :email %></p>

      <p><%%= f.email_field :email, :class => "text" %></p>

      <p><%%= f.label :password %> <span class="alt large">(leave blank if you don't want to change it)</span></p>

      <p><%%= f.password_field :password, :class => "text" %></p>

      <p><%%= f.label :password_confirmation %></p>

      <p><%%= f.password_field :password_confirmation, :class => "text" %></p>

      <p><%%= f.submit "Update" %></p>
  <%% end %>
</div>

<div class="left span-9 last">
  <%%= render 'shared/open_auth' %>
  <p>To use another provider to logon, click the provider you want to use.</p>
  <br />
  <p>To tell your authentication provider to stop authenticating with our site, then visit:
  <ul>
    <li><a href="https://accounts.google.com/IssuedAuthSubTokens">Google</a></li>
    <li><a href="https://www.facebook.com/appcenter/my">Facebook</a></li>
    <li><a href="https://twitter.com/settings/applications">Twitter</a></li>
    <li><a href="https://github.com/account/connections">GitHub</a></li>
  </ul>
  </p>
</div>

<h3 class="clear">Cancel my account</h3>

<p>Want to delete your user and all associated
  information? <%%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>
  .</p>

<%%= link_to "Back", :back %>
