<%% content_for :head do %>
    <%%= favicon_link_tag('/assets/favicon.ico') %>
    <%%= stylesheet_link_tag "application" %>
    <%%= javascript_include_tag "application" %>
    <%%= csrf_meta_tag %>
<%% end %>

<%% content_for :header do %>
    <nav class="span-24 append-bottom">
      <ul>
        <%%= render :partial => "pages/links", :collection => @display_pages.topbar, :as => :page, :locals => {:classes => "left hover"} %>
        <%%= link_to '<li class="left hover">Pages</li>'.html_safe, pages_path %>
      </ul>
    </nav>
    <banner>
      <%%= link_to logo, root_path, {:class => "right prepend-1"} %>
      <h1 class="left alt append-1"><%%= yield(:title) %></h1>
      <%% flash.each do |key, value| %>
          <div id="notice" class="left flash <%%= key %>"><%%= value %></div>
      <%% end %>
    </banner>
    <hr/>
<%% end %>

<%% content_for :sidebar do %>
    <%%= render 'shared/sidebar', :sidebar => @display_pages.sidebar %>
<%% end %>

<%% content_for :userbar do %>
    <%%= render 'shared/sidebar', :sidebar => @display_pages.userbar %>
<%% end %>

<%% content_for :footer do %>
    <nav class="span-24 prepend-top last">
      <ul>
        <%%= render :partial => "pages/links", :collection => @display_pages.bottombar, :as => :page, :locals => {:classes => "left hover"} %>
      </ul>
    </nav>
<%% end %>