<%% if !sidebar.empty? %>
    <sidebar>
      <nav class="box">
        <ul>
          <%%= render :partial => "pages/links", :collection => sidebar, :as => :page %>
        </ul>
      </nav>
    </sidebar>
<%% end %>